doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" href="/user/images/logo.png" type="image/x-icon")
    link(href='/user/css/bootstrap.css', rel='stylesheet')
    link(href='/user/css/bootstrap-theme.css', rel='stylesheet')
    link(href='/user/css/font-awesome.css', rel='stylesheet')
    link(href='/user/css/color.css', rel='stylesheet')
    link(href='/user/style.css', rel='stylesheet')
    link(href='/user/css/responsive.css', rel='stylesheet')
    link(href='/user/css/themetypo.css', rel='stylesheet')
    link(href='/user/css/bxslider.css', rel='stylesheet')
    link(href='/user/css/datepicker.css', rel='stylesheet')
    link(href='/public/css/public.css', rel='stylesheet')
    link(href='/public/css/sweet-alert.css', rel='stylesheet')
    block css

  body.front
    mixin topnav
      header#mainheader
        .kd-topbar
          .container
            .row
              .col-md-7
                ul.kd-topinfo
                  li
                    a.lang_sel_sel.icl-en(href='#') 欢迎访问登山俱乐部
                  li
                    i.fa.fa-phone
                    |  电话: +44 123 456 789
              .col-md-5
                ul.kd-userinfo
                  - if (name)
                    li
                      a(href='javascript:;') 欢迎您，#{name}
                    li.userUpdatePassword
                      a(href='javascript:;') 修改密码
                    - if (usertype == 'user')
                      li
                        a(href='/myorder') 我的订单
                      li
                        a(href='/logout') 退出
                  - else
                    li
                      a(href='#', data-toggle='modal', data-target='#registerModalbox') 注册
                      #registerModalbox.modal.fade.kd-loginbox(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                        .modal-dialog
                          .modal-content
                            .modal-body
                              a.close(href='#', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                              .kd-login-title
                                h2 注册
                              .kd-login-sepratore
                                span ·
                              form
                                p
                                  i.fa.fa-user
                                  input(type='text', name='reg-account', placeholder='账号')
                                p
                                  i.fa.fa-lock
                                  input(type='password', name='reg-password', placeholder='密码')
                                p
                                  i.fa.fa-lock
                                  input(type='password', name='reg-repassword', placeholder='重复密码')
                                p
                                  i.fa.fa-user
                                  input(type='text', name='reg-name', placeholder='姓名')
                                p
                                  i.fa.fa-phone
                                  input(type='text', name='reg-phone', placeholder='联系电话')
                                p
                                  input.thbg-color.btn-reg(type='button', value='注册')
                    li
                      a(href='#', data-toggle='modal', data-target='#Modalbox') 登录
                      #Modalbox.modal.fade.kd-loginbox(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                        .modal-dialog
                          .modal-content
                            .modal-body
                              a.close(href='#', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                              .kd-login-title
                                h2 登录
                              .kd-login-sepratore
                                span ·
                              form
                                p
                                  i.fa.fa-envelope-o
                                  input(type='text', name='account', placeholder='账号')
                                p
                                  i.fa.fa-lock
                                  input(type='password', name='password', placeholder='密码')
                                p
                                  input.thbg-color.btn-login(type='button', value='登录')
        .kd-headbar
          .container
            .row
              .col-md-3
                a.logo(href='/')
                  img(src='/user/images/logo.png', alt='')
              .col-md-9
                .kd-rightside
                  nav.navbar.navbar-default.navigation
                    .navbar-header
                      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    #navbar-collapse-1.collapse.navbar-collapse
                      ul.nav.navbar-nav
                        li
                          a(href='/') 首页
                        li
                          a(href='about-us.html') 所有项目
                        li
                          a(href='blog-grid.html') 论坛
    
    mixin topslider
      #mainbanner
        ul.bxslider
          li
            img(src='/user/extraimages/banner1.jpg', alt='')
            .kd-caption
              h2 寻找最好的登山项目
              h1 我们提供最好的服务
              .linksection
                a(href='#') 查看全部项目
          li
            img(src='/user/extraimages/banner4.jpg', alt='')
            .kd-caption
              h2 登山俱乐部
              h1 临着一切不平常的急难，只有勇敢和坚强才能拯救
              .linksection
                a(href='#') 查看全部项目
        .kd-tourform
          .container
            a.formbtn(href='#') 查询
            form(action='/placelist', method='post')
              ul
                li
                  input.indexsearch-input(type='text', name='place', placeholder='请输入您要查询的项目')
                li
                  input.thbg-color(type='submit', value='查询')

    // 导航
    block nav
    //内容
    block content

    mixin mixfooter
      #copyright
        .container
          .row
            .col-md-6
              p 登山俱乐部 © 2018.1.29
            .col-md-6
              nav.footer-nav
                ul
                  li
                    a(href='/') 首页

    // 页脚
    block footer
    script(src='/user/js/jquery.js')
    script(src='/user/js/bootstrap.min.js')
    script(src='/user/js/jquery.bxslider.min.js')
    script(src='/user/js/bootstrap-datepicker.js')
    script(src='/user/js/waypoints-min.js')
    script(src='/user/js/functions.js')
    script(src='/public/js/sweet-alert.min.js')
    script(src='/public/layer/layer.js')
    script(src='/public/js/public.js')
    script(src='/travel/js/user/pub.js')
    block js
