extends ../layout

block nav
  +topnav

block content
  .kd-subheader
    .container
      .row
        .col-md-12
          .subheader-info
            h1 活动列表
          .kd-breadcrumb
            ul
              li
                a(href='/') 首页
              li
                a(href='javascript:;') #{smalltip}
  .kd-content
    section.kd-pagesection(style=' padding: 0px 0px 0px 0px; background: #ffffff;')
      .container
        .row
          .col-md-12
            .col-md-8
              .kd-section-title
                h3 活动
              .kd-blog-list.kd-bloggrid
                .row
                  - if (chanpinList.length > 0)
                    each chanpinitem in chanpinList
                      article.col-md-6
                        .bloginner
                          figure
                            a(href='javascript:;')
                              img.index-zuireimg(src= chanpinitem.url, alt='')
                            figcaption
                              a.fa.fa-plus-circle(href="/detail/" + chanpinitem.id)
                          section.kd-bloginfo
                            h2
                              a(href='javascript:;') #{chanpinitem.place}
                            ul.kd-postoption
                              li
                                a.thcolorhover(href='javascript:;', style='color: #ff0000;') ￥#{chanpinitem.price}/人
                            p #{chanpinitem.introduce.substring(0, 80)}
                              - if (chanpinList[0].introduce.length > 80)
                                | ......
                  - else
                    .no-datacon
                      .no-data
                        img(src='/public/img/no-data.png')
            aside.col-md-4
              .widget.widget_search
                .kd-widget-title
                  h2 查询
                form(action='/placelist', method='post')
                  input(type='text', name='place', placeholder='Search')
                  input(type='submit', value='')
                  i.fa.fa-search
