extends ../layout

block nav
  +topnav
  +topslider

block content
  .kd-content
    section.kd-pagesection
      .container
        .row
          .col-md-12
            .kd-modrentitle.thememargin
              h3 最新推荐
              .kd-divider
                .short-seprator
                  span
                    i.fa.fa-home
              br
              p
                | 细雨霏霏，芳草萋萋。春意阑珊，久居斗室，倦意难遣，登山该是个不错的选择。站在山脚下，仰望神童山，群峰巍峨，乱石穿空，树高林深，几片白云游荡
                br
                | 在山腰，雨还是淅淅沥沥的打在身上，淡淡的薄雾把神童山上上下下包裹得越发厚重，崔嵬。
          .col-md-12
            .kd-services
              each chanpinitem in chanpinList
                article.col-md-6
                  figure
                    a(href='#')
                      img.index-zuixinimg(src= chanpinitem.url, alt='')
                  .kd-serviceinfo
                    h2
                      a(href='#') #{chanpinitem.place}
                    p #{chanpinitem.introduce.substring(0, 50)}
                      - if (chanpinList[0].introduce.length > 50)
                        | ......
                    a.kd-readmore.thbg-colorhover(href='/detail/' + chanpinitem.id) 查看详情
    section.kd-pagesection(style=' padding: 50px 0px; background: url(/user/extraimages/pakege1.jpg); background-size: cover; ')
      .container
        .row
          .col-md-12
            .kd-modrentitle.thememargin
              h3 最热推荐
              .kd-divider
                .short-seprator
                  span
                    i.fa.fa-globe
              br
              p  我们一路上兴致勃勃地参观，当夕阳西下时，才恋恋不舍地离开。
          .col-md-12
            .kd-package-list
              each chanpinitem in chanpinList
                article.col-md-4
                  figure
                    a(href='#')
                      img.index-zuireimg(src= chanpinitem.url, alt='')
                    figcaption
                      span.package-price.thbg-color ￥#{chanpinitem.price}/人
                      .kd-bottomelement
                        h5
                          a(href='javascript:;') #{chanpinitem.place}
                        a(href='/detail/' + chanpinitem.id)
                          .days-counter
                            span 查看
                            br
                            |  详情

block footer
  +mixfooter
