extends ../layout

block nav
  +topnav
  +leftnav

block content
  section#main-content
    section.wrapper
      .row
        .col-lg-12
          section.panel
            header.panel-heading
              - if (state == 0)
                | 预订清单
              - else if (state == 1)
                | 申请退款清单
              - else
                | 退款完成清单
            - if (pagenum.page != 0)
              .panel-body
                table.table.table-striped.table-advance.table-hover
                  thead
                    tr
                      th.hidden-phone 订单产品
                      th.hidden-phone 订单行程
                      th 订单人数
                      th 订单总价
                      th 下单时间
                      th
                  tbody.info-tbody

              .panel-body
                .row
                  .col-sm-6
                  .col-sm-6
                    .dataTables_paginate.paging_bootstrap.pagination
                      ul
                        - for (var i = 0; i < pagenum.page; i++)
                          - if (state == 0)
                            li.pageli.wcldingdan-pageli(class= i==0?'active':'', data-pagenum= i+1)
                              a(href='javascript:;')= i+1
                          - else if (state == 1)
                            li.pageli.ycldingdan-pageli(class= i==0?'active':'', data-pagenum= i+1)
                              a(href='javascript:;')= i+1
                          - else
                            li.pageli.tkwcdingdan-pageli(class= i==0?'active':'', data-pagenum= i+1)
                              a(href='javascript:;')= i+1
            - else
              .panel-body
                .no-datacon
                  .no-data
                    img(src='/public/img/no-data.png')
block js
  - if (state == 0)
    script.
      $(function() {
        $('.leftli-wcldingdan').addClass('active');
        getPageInfo('/admin/pageDingDanInfo', {
          state: '0'
        });
      });
  - else if (state == 1)
    script.
      $(function() {
        $('.leftli-ycldingdan').addClass('active');
        getPageInfo('/admin/pageDingDanInfo', {
          state: '1'
        });
      });
  - else
    script.
      $(function() {
        $('.leftli-tkwcdingdan').addClass('active');
        getPageInfo('/admin/pageDingDanInfo', {
          state: '2'
        });
      });
